@import 'colors';

.button-group	{
	
	flex-grow: 1;
	margin: 0.5rem 1rem;
    display: flex;
    flex-direction: row;
}

.button-main    {
    flex-grow: 4 !important;
}

.button	{
    flex-grow: 1;
	text-transform: uppercase;
	background-color: $primary-color;
    padding: 1.2rem 0rem;
	text-align: center;
	cursor: pointer;
	&:hover {
		transition: 0.3s;
    background-color: $accent-color;
    color: white;
  	}
  	&:hover .arrow {
		transition: 0.3s;
    	&::after {
            -webkit-transform: translateX(4px);
            -moz-transform: translateX(4px);
            -ms-transform: translateX(4px);
            -o-transform: translateX(4px);
            transform: translateX(4px);
        }
    	color: white;
  	}
}

.arrow {
    color: black;
    margin: 1em 0;

    &::after {
        display: inline-block;
        padding-left: 8px;
        content: "\0279E"; // arrow right unicode
        -webkit-transition: transform 0.3s ease-out;
        -moz-transition: transform 0.3s ease-out;
        -ms-transition: transform 0.3s ease-out;
        -o-transition: transform 0.3s ease-out;
        transition: transform 0.3s ease-out;
    }
}

#project-list	{
	overflow: auto;
	flex-direction: column;
	flex: 20;
}

#return-btn    {
    margin: 0.5rem 1rem;
    cursor: pointer;
    text-decoration: underline;
    color: $primary-color;
    &:hover {
        transition: 0.3s;
        color: $accent-color;
    }
}

.button-split   {
    border-left: 1px solid gray;
}

