/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.icon-modal {
  color: white;
  font-size: 28px;
  font-weight: bold;
}

#close-modal {
  float: right;
}

#return-modal {
  float: left;
}

.icon-modal:hover,
.icon-modal:focus {
  color: #ECA72C;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  text-align: center;
  padding: 2px 16px;
  background-color: #8d8d8a;
  color: white;
}

#modal-body {
  padding: 2px 16px;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #8d8d8a;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  font: 100% Roboto, sans-serif;
}

.flex-container {
  display: flex;
}

.main {
  height: 100vh;
  width: 100vw;
  background-color: #D4D8D9;
}

@media screen and (max-width: 959px) {
  .mobile-adaptive {
    flex-direction: column;
  }
}

.side-nav {
  flex-grow: 1;
  flex-direction: column;
}

#project-list {
  overflow: auto;
  flex-direction: column;
  flex: 20;
}

.separator {
  width: 0;
  min-width: 100%;
  flex: 0.5;
  background-color: #0A1325;
}

#word-cloud {
  width: 0;
  min-width: 100%;
  flex: 20;
  background-color: #D4D8D9;
}

.button-group {
  display: flex;
  flex-direction: column;
  background-color: #8d8d8a;
  border-radius: 15px;
  margin: 0.5rem;
}

.button-lead {
  margin: 0.5rem !important;
  font-weight: bold;
}

.button {
  padding: 1.2rem 0rem;
  text-transform: uppercase;
  background-color: #D4D8D9;
  flex-grow: 1;
  text-align: center;
  margin: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 10px;
}

.button:hover {
  transition: 0.3s;
  background-color: #ECA72C;
  color: white;
}

.map {
  flex-grow: 4;
}
